.btn-main {
  background-color: #00F3BB;
  color: #060A24;
  align-items: center;
  border: none;
  border-bottom: rgba(0, 243, 186, 0.8352941176);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 16px;
  width: 288px;
  height: 46px;
  line-height: 22px;
  padding: 1 16px 1px 20px;
}
.btn-main:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-bottom: linear-gradient(225deg, rgba(0, 0, 254, 0.8784313725) 0%, rgba(0, 240, 184, 0.8901960784) 100%);
}

.icon-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-subject .img {
  width: 104px;
  height: 104px;
}
.icon-subject .title-sbj {
  padding: 13px 16px;
  width: 288px;
  height: 64px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #FFFFFF;
  padding: 0px;
}
.navbar .logo {
  padding: 10px 16px 63px 16px;
}
.navbar .menu {
  padding-right: 16px;
  padding-bottom: 63px;
  padding-left: 16px;
  padding-top: 10px;
}
.navbar .menu i {
  width: 18px;
  height: 12px;
  color: #060A24;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.main .title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 36px;
  padding: 0 0 16px 16px;
}
.main .word-line-through {
  text-decoration: line-through;
}
.main .text {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  padding: 0 0 16px 16px;
}

.episodes {
  padding: 60px 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 1203.5px;
  padding-top: 72px;
  position: relative;
}
.episodes .episodes-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 42px;
  padding: 64px 16px 30px 16px;
  transform: skew(0deg, 10deg);
}
.episodes .spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 225px;
  gap: 11px;
  transform: skew(0deg, 10deg);
}
.episodes .background-skew {
  width: 100%;
  height: 1800px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skew(0deg, -10deg);
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20;
  left: 20;
  padding-top: 520px;
}
.about-us .the-secret-img img {
  height: 519px;
  width: 320px;
}
.about-us .about-title h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  padding: 16px 16px;
}
.about-us .about-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  padding-left: 16px;
  padding-right: 16px;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1320px;
}
.guest .guest-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  padding: 0 16px;
}
.guest .img-guest img {
  width: 320px;
  height: 243px;
}

.subjects {
  padding-top: 50px;
}
.subjects .title-sectionsub {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 36px;
  padding: 0 16px;
}
.subjects .icon-subject {
  padding-top: 30px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}
.news .background-skew {
  position: relative;
  width: 320px;
  height: 330px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.news .background-skew .news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news .background-skew:before {
  display: block;
  width: 100%;
  height: 100%;
  transform: skewY(-10deg);
  transform-origin: top left;
  content: " ";
  position: absolute;
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  z-index: -1;
}
.news .btn-main {
  padding: 16px;
  width: 288px;
  height: 48px;
}
.news .title-news {
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  padding: 30px 16px 30px 16px;
  font-size: 36px;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
  width: 320px;
  padding-top: 30px;
}
.footer .text-footer {
  width: 227px;
  height: 22px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  letter-spacing: 0;
}
.footer .icons-social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 227px;
  height: 22px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #060A24;
}

/*# sourceMappingURL=index.css.map */
