.btn-main {
  background-color: #00F3BB;
  color: #060A24;
  align-items: center;
  border: none;
  border-bottom: rgba(0, 243, 186, 0.8352941176);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 16px;
  width: 288px;
  height: 46px;
  line-height: 22px;
  padding: 1 16px 1px 20px;
}
.btn-main:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  border-bottom: linear-gradient(225deg, rgba(0, 0, 254, 0.8784313725) 0%, rgba(0, 240, 184, 0.8901960784) 100%);
}

.icon-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-subject .img {
  width: 104px;
  height: 104px;
}
.icon-subject .title-sbj {
  padding: 13px 16px;
  width: 288px;
  height: 64px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 550px) {
  .btn-main {
    width: 226px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
  }
}
html {
  min-width: 100vw;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbarsec .navbar {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 16px;
}
.navbarsec .label-burger .bar {
  width: 18px;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 3px;
  border-radius: 1px;
}
.navbarsec .label-burger {
  cursor: pointer;
}
.navbarsec .menu-burger {
  display: none;
}
.navbarsec .menu-burger:checked ~ .ul_links {
  height: 224px;
}
.navbarsec .menu-burger:checked + .label-burger .middle-bar {
  opacity: 0;
}
.navbarsec .menu-burger:checked + .label-burger .top-bar {
  transform: rotate(45deg) translateY(3px) translateX(4px);
  transition-duration: 0.5s;
}
.navbarsec .menu-burger:checked + .label-burger .bottom-bar {
  transform: rotate(-45deg) translateY(-3px) translateX(4px);
  transition-duration: 0.5s;
}
.navbarsec .ul_links {
  width: 100%;
  background-color: #0000EC;
  position: absolute;
  top: 44px;
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
  transition: all 0.3s;
}
.navbarsec .link {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  color: #FFFFFF;
}
.navbarsec .logo {
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.main .title {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 36px;
  padding: 0 0 16px 16px;
}
.main .word-line-through {
  text-decoration: line-through;
}
.main .text {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  padding: 0 0 16px 16px;
}

.episodes {
  padding: 60px 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 1203.5px;
  padding-top: 72px;
  position: relative;
}
.episodes .episodes-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 42px;
  padding: 64px 16px 30px 16px;
  transform: skew(0deg, 10deg);
}
.episodes .spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 225px;
  gap: 11px;
  transform: skew(0deg, 10deg);
}
.episodes .background-skew {
  width: 100%;
  height: 1800px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skew(0deg, -10deg);
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20;
  left: 20;
  padding-top: 520px;
}
.about-us .the-secret-img img {
  height: 519px;
  width: 320px;
}
.about-us .about-title h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  padding: 16px 16px;
}
.about-us .about-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  padding-left: 16px;
  padding-right: 16px;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1320px;
}
.guest .guest-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  padding: 0 16px;
}
.guest .img-guest img {
  width: 320px;
  height: 243px;
}

.subjects {
  padding-top: 50px;
}
.subjects .title-sectionsub {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 36px;
  padding: 0 16px;
}
.subjects .icon-subject {
  padding-top: 30px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}
.news .background-skew {
  position: relative;
  width: 320px;
  height: 330px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.news .background-skew .news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news .background-skew:before {
  display: block;
  width: 100%;
  height: 100%;
  transform: skewY(-10deg);
  transform-origin: top left;
  content: " ";
  position: absolute;
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  z-index: -1;
}
.news .btn-main {
  padding: 16px;
  width: 288px;
  height: 48px;
}
.news .title-news {
  font-family: "IBM Plex Sans", sans-serif;
  color: #FFFFFF;
  padding: 30px 16px 30px 16px;
  font-size: 36px;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
  width: 320px;
  padding-top: 30px;
}
.footer .text-footer {
  width: 227px;
  height: 22px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  letter-spacing: 0;
}
.footer .icons-social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 227px;
  height: 22px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #060A24;
}
.footer .icons-social-networks a {
  color: #060A24;
}

@media (min-width: 550px) {
  .navbarsec {
    padding: 22px 100px;
  }
  .navbarsec .logo img {
    height: 36px;
    width: 36px;
  }
  .navbarsec .label-burger {
    display: none;
  }
  .navbarsec .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 48px;
    background-color: #FFFFFF;
  }
  .navbarsec .link {
    font-size: 16px;
    background-color: #FFFFFF;
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    line-height: 28px;
    transition: all 0.3s;
  }
  .navbarsec .link:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
  }
  .main {
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .main .title {
    font-size: 64px;
  }
  .main .text {
    font-size: 16px;
    line-height: 24px;
  }
  .episodes {
    padding-bottom: 0;
  }
  .episodes .background-skew {
    height: 1042px;
  }
  .episodes .episodes-title {
    padding: 200px 200px 20px;
    font-size: 48px;
  }
  .episodes .spotify {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    padding-left: 100px;
  }
  .episodes .spotify .spotify-card iframe {
    width: 584px;
    height: 232px;
  }
  .about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
    top: 1500px;
  }
  .about-us .aboutexttitle {
    padding-top: 0px;
    padding-left: 80px;
  }
  .about-us .the-secret-img img {
    width: 457.6px;
    height: 660px;
  }
  .about-us .about-title {
    font-size: 48px;
  }
  .about-us .about-text {
    font-size: 16px;
    line-height: 24px;
    width: 464px;
    height: 204px;
  }
  .about-us .about-text .p2 {
    display: block;
  }
  .guest {
    padding-top: 650px;
    align-items: start;
  }
  .guest .guest-title {
    font-size: 48px;
    padding-left: 200px;
  }
  .guest .img-guest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    gap: 10px;
    width: 100%;
    padding: 20px 100px;
  }
  .guest .img-guest img {
    width: 480px;
    height: 364px;
  }
  .subjects {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .subjects .title-sectionsub {
    padding-left: 200px;
    font-size: 48px;
  }
  .subjects .totalicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 150px;
  }
  .news {
    padding-top: 300px;
  }
  .news .background-skew {
    width: 100%;
    height: 400px;
  }
  .news .title-news {
    font-size: 48px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
  }
  .footer .icons-social-networks {
    font-size: 18px;
  }
  .footer .text-footer {
    font-size: 16px;
    width: 500px;
  }
}

/*# sourceMappingURL=index.css.map */
