@use "../../blue-dot/sass/components" as *;
html {
    min-width: 100vw;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #FFFFFF;
    padding: 0px;
    .logo {
        padding: 10px 16px 63px 16px;
    }
    .menu { 
        padding-right: 16px;
        padding-bottom: 63px;
        padding-left: 16px;
        padding-top: 10px;

        i {
        width: 18px;
        height: 12px;
        color: $main-color;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    .title {
        font-family: 'IBM Plex Sans', sans-serif;
        color: $main-color;
        font-size: 36px;
        padding: 0 0 16px 16px;
    }
        .word-line-through {
        text-decoration: line-through;
        }
    .text {
        font-family: 'IBM Plex Mono', monospace;
        color: $main-color;
        font-size: 14px;
        padding: 0 0 16px 16px;
    }
}
