@use "../sass/components" as *;
$skew-color: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$altura_header: 44px;
$padding_left_right: 16px;
$ancho_maximo: 1200px;
$black-color: #000000;
$burger-color: #0000EC;


html {
    min-width: 100vw;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.navbarsec {
    .navbar {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 $padding_left_right;
    }
    .label-burger {
        .bar {
            width: 18px;
            height: 2px;
            background-color: $black-color;
            display: block;
            margin: 3px;
            border-radius: 1px;
        }
    }

    .label-burger {
        cursor: pointer;
    }

    .menu-burger {
        display: none;
    }

    .menu-burger:checked ~ .ul_links {
        height: 224px;
    }

    .menu-burger:checked + .label-burger {
        .middle-bar {
            opacity: 0;
        }
        .top-bar {
            transform: rotate(45deg) translateY(3px) translateX(4px);
            transition-duration: 0.5s;
        }
        .bottom-bar {
            transform: rotate(-45deg) translateY(-3px) translateX(4px);
            transition-duration: 0.5s;
        }
    }

    .ul_links {
        width: 100%;
        background-color: $burger-color;
        position: absolute;
        top: $altura_header;
        left: 0;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 25px;
        transition: all 0.3s;
    }

    .link {
        font-size: 16px;
        font-family: $font-mono;
        color: $white-color;
    }

    .logo {
        padding: 10px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    .title {
        font-family: $font-sans;
        color: $main-color;
        font-size: 36px;
        padding: 0 0 16px 16px;
    }
        .word-line-through {
        text-decoration: line-through;
        }
    .text {
        font-family: $font-mono;
        color: $main-color;
        font-size: 14px;
        padding: 0 0 16px 16px;
    }
}

.episodes {
    padding: 60px 0;
    background-color: $white-color;
    width: 100%;
    height: 1203.5px;
    padding-top: 72px;
    position: relative;

    .episodes-title{
        font-family: $font-sans;
        font-size: 36px;
        color: $white-color;
        line-height: 42px;
        padding: 64px 16px 30px 16px;
        transform: skew(0deg, 10deg);
    }

    .spotify {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        width: 100%;
        height: 225px;
        gap: 11px;
        transform: skew(0deg, 10deg);
    }

    .background-skew{
        width: 100%;
        height: 1800px;
        background-image: $skew-color;   
        transform: skew(0deg,  -10deg); 
    }
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20;
    left: 20;
    padding-top: 520px;
    .the-secret-img img{
        height: 519px;
        width: 320px;
    }
    .about-title h2{
        font-family: $font-sans;
        font-size: 36px;
        color: $main-color;
        line-height: 42px;
        padding: 16px 16px;
    }
    
    .about-text{
        font-family: $font-mono;
        font-size: 14px;
        color: $main-color;
        line-height: 22px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1320px;
    .guest-title{
        font-family: $font-sans;
        font-size: 36px;
        color: $main-color;
        padding: 0 16px;
    }
    .img-guest img {
        width: 320px;
        height: 243px;
    }
}
.subjects {
    padding-top: 50px;
    .title-sectionsub {
        font-family: $font-sans;
        color: $main-color;
        font-size: 36px;
        padding: 0 16px;
    }
    .icon-subject {
        padding-top: 30px;
    }
}
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    .background-skew{
        position: relative;
        width: 320px;
        height: 330px;
        background-image: $skew-color;  
        .news-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } 
    }
    .background-skew:before {
        display: block;
        width: 100%;
        height: 100%;
        transform: skewY(-10deg);
        transform-origin: top left;
        content: " ";
        position: absolute;
        background: $skew-color;
        z-index: -1;
    }
    .btn-main {
        padding:  16px;
        width: 288px;
        height: 48px;
    }
    .title-news {
        font-family: $font-sans;
        color: $white-color;
        padding: 30px 16px 30px 16px;
        font-size: 36px;
        letter-spacing: 0;
        text-align: center;
        line-height: 42px
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background-color: $white-color;
    width: 320px;
    padding-top: 30px;
    .text-footer {
        width: 227px;
        height: 22px;
        font-family: $font-mono;
        font-size: 14px;
        color: $main-color; 
        line-height: 22px;
        letter-spacing: 0;
    }
    .icons-social-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top:  10px;
        padding-bottom: 60px;
        width: 227px;
        height: 22px;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0;
        color: $main-color;
    }
    .icons-social-networks a {
        color: $main-color;
    }
}

@media (min-width: 550px) {
    .navbarsec {
        padding: 22px 100px;
        .logo img{
            height: 36px;
            width: 36px;
        }
        .label-burger {
            display: none;
        }
        .ul_links {
            position: static;
            width: auto;
            height: auto;
            flex-direction: row;
            gap: 48px;
            background-color: $white-color;
        }
        .link {
            font-size: 16px;
            background-color: $white-color;
            color: $main-color;
            font-family: $font-mono;
            line-height: 28px;
        }
    }
    .main {
        padding: 60px 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        .title {
            font-size: 64px;
        }
        .text {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .episodes {
        padding-bottom: 0;
        .background-skew {
            height: 1042px;
        }
        .episodes-title {
            padding: 200px 200px 20px;
            font-size: 48px;
        }
        .spotify {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 80px;
            padding-left: 100px;
            .spotify-card iframe {
                width: 584px;
                height: 232px;
            }
        }
    }
    .about-us {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        width: 100%;
        top: 1500px;
        .aboutexttitle {
            padding-top: 0px;
            padding-left: 80px;
        }
        .the-secret-img img {
            width: 457.6px;
            height: 660px;
        }
        .about-title {
            font-size: 48px;
        }
        .about-text {
            font-size: 16px;
            line-height: 24px;
            width: 464px;
            height: 204px;
            .p2 {
                display: block;
            }
        }
    }
    .guest {
        padding-top: 650px;
        align-items: start;
        .guest-title {
            font-size: 48px;
            padding-left: 200px;
        }
        .img-guest {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            gap: 0;
            width: 100%;
            padding: 0;
        }
        .img-guest img {
            width: 480px;
            height: 364px;
        }
    }

}

